<div class="dish-group" ng-repeat="dish in dishes">
<h4 >{{dish.gname}}</h4>
<div class="col-md-6 dish-item" ng-repeat="item in dish.dishes">
    <label for="{{item.id}}" class="checkbox checked">
        <input type="checkbox" class="dishes-check" checklist-change="order()" id="{{item.id}}" checklist-model="selectedOrderItems" checklist-value="item" >
        <span class="icon-to-fade"></span>
        <span>{{item.name}}</span>
    </label>
  <span class="pull-right">{{item.price}}</span>
</div>
</div>



<div class="navbar-fixed-bottom order-item">
  <div class="container">
    <div class="row">
      <div class="col-xs-9 pt7">
       <span class="real-name"  ng-repeat="order in realOrderItems">{{order.dish.name}}</span>
      </div>
      <div class="col-xs-2"><button class="btn btn-warning btn-block" id="moreDetail">详情</button></div>
    </div>
  </div>
</div>

<div class="real-box" style="display: none" id="realDetail">
    <div class="real-header text-center">
        <div class="container">
            <span class="glyphicon glyphicon-menu-left pull-left" id="comeBack"></span>
            <span>菜单详情</span>
        </div>
    </div>
    <div class="real-content container">
        <div class="clearfix" ng-repeat="order in realOrderItems">

            <div class="col-xs-5 pt7">{{order.dish.name}}</div>
            <div class="col-xs-3">
                <div class="input-group">
                    <span class="input-group-addon" ng-click="minusOne(order)">-</span>
                    <input type="text" class="form-control" aria-label="1"  ng-model="order.count" value="{{order.count}}">
                    <span class="input-group-addon" ng-click="addOne(order)">+</span>

                </div>
            </div>
            <div class="col-xs-2 text-center pt7">
                {{order.count*order.dish.price}}

            </div>
            <div class="col-xs-2">
                <button class="btn  btn-danger" ng-click="deleteOrder(order)">删除</button>
            </div>
        </div>

      <div class="navbar-fixed-bottom order-item">
        <div class="container">
          <div class="row">
            <div class="col-xs-9 pt7">
             共： {{sum(realOrderItems).total}}  份 ; 总计:{{sum(realOrderItems).total_price}}
            </div>
            <div class="col-xs-2"><button class="btn btn-warning btn-block" ng-click="submit(realOrderItems)">提交</button></div>
          </div>
        </div>
      </div>


    </div>

</div>


