<div class="container">
  <div class="dish-group" ng-repeat="dish in dishes">
    <h4 >{{dish.gname}}</h4>
    <div class="col-md-6 dish-item" ng-repeat="item in dish.dishes">
      <input type="checkbox" checklist-change="order()" checklist-model="selectedOrderItems" checklist-value="item" >
      <span>{{item.name}}</span>
      <span class="pull-right">{{item.price}}</span>
    </div>
  </div>

</div>



<div class="navbar-fixed-bottom order-item">
  <div class="container">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-7"></div>
      <div class="col-xs-2"><button class="btn btn-warning btn-block">提交</button></div>
    </div>
  </div>
  <hr>
  <div class="container" ng-repeat="order in realOrderItems">
    <div class="row">
      <div class="col-xs-4 pt7">
        {{order.dish.name}}
      </div>
      <div class="col-xs-4">
        <div class="input-group">

          <span class="input-group-addon" ng-click="minusOne(order)">-</span>
          <input type="text" class="form-control" aria-label="1" ng-model="order.count" value="{{order.count}}">
          <span class="input-group-addon" ng-click="addOne(order)">+</span>

        </div>
      </div>
      <div class="col-xs-2 text-center pt7">
        {{order.count*order.dish.price}}
      </div>
      <div class="col-xs-2">
        <button class="btn btn-block btn-danger" ng-click="deleteOrder(order)">删除</button>
      </div>
    </div>

  </div>



</div>

