<nav ng-controller="UserController" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{currentRestaurant.name}}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="open()">Hello {{user.name}}</a></li>
        <li class="dropdown" dropdown on-toggle="toggled(open)">
          <a href class="dropdown-toggle" dropdown-toggle>
            My order
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li class="divider"></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<!--<div class="input-group uer-box">
    <input type="text" placeholder="Please enter a username" class="form-control input-lg">
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-lg">Sign In</button>
          </span>
</div>
<div class="modal-backdrop fade  in"></div>-->
<!--<script type="text/ng-template" id="myModalContent.html">-->
<!--<div class="modal-header">-->
<!--<h3 class="modal-title">I'm a modal!</h3>-->
<!--</div>-->
<!--<div class="modal-body">-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
<!--</div>-->
<!--</script>-->


<script type="text/ng-template" id="myModalContent.html">

  <div class="input-group user-box">
    <input type="text" class="form-control input-lg" ng-model="name" placeholder="Please enter a username"
           ng-required="true"/>
            <span class="input-group-btn">
               <button type="button" class="btn btn-primary btn-lg" ng-click="ok()">Sign In</button>
            </span>
  </div>
</script>


